version: '3.1'
services:
  db:
    image: telegrambot
    container_name: mysql_botDB
    command: --default-authentication-plugin=mysql_native_password
    volumes:
          - ./src/database/scripts/ /docker-entrypoint-initdb.d/
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: B3lt1s
      MYSQL_DATABASE: telegrambot
      MYSQL_USER: monitor
      MYSQL_PASSWORD: monitor

  